h1{
  text-align: center;
}

p{
  text-align: center;
}
em strong{
  color: red;
}
#missao{
  font-size: 28px;
}
.principal{
  background-color: #cccccc
}
.titulo-pricipal{
  padding-left: 20px;
}
.beneficios{
  width: 95%;
}
.imagem{
  width: 95%;
}
.centro-centralizado{
  text-align:center;
}
.ul{
  display: inline-block;
  vertical-align: top;
  width:20%;
  margin-right: 15%;
  
}

.item{
  font-style: italic;
}


  
